@import "variables";

@mixin single_grid_active {
	background-color: $primary_color;
	color: $secondary_color;
	transition: background-color $fast_time_duration ease-in-out, color $fast_time_duration ease-in-out;
	i, h3 {
		color: $secondary_color;
	}
}
.dcm-wrapper {
	border: 1px solid #dee3e9;
}

.dcm-shortcode {
	.arm-tabs {
		width: 100%;
		@include align-start;
		flex-direction: row;
		padding: 0;
		border: 0;
		
		.single-tab {
			padding: 1rem;
			cursor: pointer;
			border: 1px solid #dee3e9;
			flex: 1;
			text-align: center;
			
			&.active {
				background: #eeeeee;
			}
		}

		.tabs-grid {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			.single-grid-tab {
				@include align-center;
				flex-direction: column;
				min-height: 300px;
				height: auto;
				border-radius: 3px;
				background-color: #ffffff;
				padding: 15px;
				width: 49%;
				margin-bottom:1%;
				box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,255,255,.4);
				cursor: pointer;
				transition: background-color 0.7s ease-in-out;

				&:hover {
					@include single_grid_active;
				}
				&.active {
					@include single_grid_active;
				}
				.icon {
					i {
						font-size: 50px;
					}
				}
				.title {
					h3 {
						font-size: 20px;
					}
				}

				@media screen and (max-width: 576px) {
					width: 100%;
					margin-bottom: 1%;
				}
			}
		}
		
		
	}
	
	.arm_account_detail_wrapper {
		margin-top: 0;
		
		.arm_account_detail_tab {
			display: none;
			
			&.active {
				display: block;
			}
			
			table.form-table {
				width: 100%;
				tr,td,th {
					overflow: hidden;
				}
				td.arm-form-table-content {
					&.tab-has-result {
						cursor:pointer;
						.results-tab {
							height: 0;
							//transition: height $slow_time_duration ease-in-out;
						}
						span {
							&.title {
								@include align-center;
								font-weight: 600;
							}
						}
						&.open {
							.results-tab {
								min-height: 10rem;
								height: 100%;
								//transition: height $slow_time_duration ease-in-out;
								
								.reports-graphics {
									.single-graphics-wrapper {
										margin-bottom: 50px;
										canvas {
											width: 100%;
										}
									}
									.debts-logs {
										table {
											width: 100%;
										}
									}
								}
								.update-debt-form {
									width: 100%;
									display: flex;
									flex-direction: column;
									justify-content: center;
									h3 {
										text-align: center;
									}
									p.input-field {
										text-align: center;
										input[type="number"] {
											width: 100%;
										}
									}
								}
							}

						}

					}
				}
			}
		}

	}



}


.dcm-shortcode {
	//background: #F73946;
	//background: -webkit-linear-gradient(left top, #F73946, #FF3875);
	//background: -o-linear-gradient(bottom right, #F73946, #FF3875);
	//background: -moz-linear-gradient(bottom right, #F73946, #FF3875);
	//background: linear-gradient(to bottom right, #F73946, #FF3875);
	//background-attachment: fixed;
	//background-repeat: no-repeat;
	&#debt-calculator-shortcode {
		.debt-calculator {
			margin: 75px auto;
			width: 100%;
			max-width: 500px;
			display: table;
			background: $primary_color;
			color: $secondary_color;
			border-radius: 5px;
			box-shadow: 0px 2px 45px 8px #C32B4A;

			input {
				width: 100%;
				background: #3b4148 !important;
				border: 1px solid #3b4148 !important;
				border-radius: 10px !important;
				color: #eeeeee !important;
				text-align: center;
				&::placeholder {
					color: rgba(255,255,255,0.5);
					font-style: italic;
				}
			}
			.result {
				display: table;
				width: 100%;

				.result-text {
					width: 100%;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					padding: 20px;
					border: none;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					background: $secondary_color;
					transition: all 0.4s ease-in;
					-webkit-transition-delay: 2s; /* Safari */
					transition-delay: 2s;
					box-shadow: 0px 5px 25px 2px #333;
					
					h1 {
						color: #fff;
						font-size: 3em;
						margin: 8px 0;
						padding: 0;
						text-align: center;
					}
					
					small {
						font-size: 1em;
						text-transform: uppercase;
						font-weight: 400;
						color: #fff;
					}

				}
			}
			
			
			.calculator {
				padding: 20px;
				
				.calculator-title {
					font-weight: 400;
					text-transform: uppercase;
					font-size: 1.5em;
					padding: 0px;
					color: #eeeeee;
				}
				
				.calculator-hr {
					margin-top: -10px;
					width: 80%;
					border: 1.2px solid #F73946;
					border-radius: 15px;
				}
				.height {
					margin-bottom: 20px;
				}
				
				input[type=range] {
					-webkit-appearance: none;
					width: 75%;
					height: 4px;
					background: #27283A;
					border-radius: 5px;
					display: inline-block;
					margin-top: -15px;
				}
				
				input[type=range]::-webkit-slider-thumb {
					-webkit-appearance: none;
				}
				
				input[type=range]:focus {
					outline: none;
				}
				
				input[type=range]::-ms-track {
					width: 100%;
					cursor: pointer;
					background: transparent;
					border-color: transparent;
					color: transparent;
				}
				
				input[type=range]::-webkit-slider-thumb {
					-webkit-appearance: none;
					border: none;
					height: 14px;
					width: 14px;
					border-radius: 50%;
					background: #F73946;
					cursor: pointer;
				}
				
				input[type=range]::-moz-range-thumb {
					height: 14px;
					width: 14px;
					border-radius: 50%;
					background: #F73946;
					cursor: pointer;
				}
				
				input[type=range]::-ms-thumb {
					height: 14px;
					width: 14px;
					border-radius: 50%;
					background: #F73946;
					cursor: pointer;
				}
				
				.field-text {
					font-size: 2em;
					color: #F73946;
					font-weight: 700;
					padding: 8px;
					display: inline-block;
				}
				
				.label-height:after {
					content: ' cm';
					font-size: 0.5em;
					color: #4E5279;
					font-weight: 400;
					text-align: center;
					margin-top: -12px;
				}
				
				.label-weight:after {
					content: ' kg';
					font-size: 0.5em;
					color: #4E5279;
					font-weight: 400;
				}
				
				.submit {
					text-align: center;
				}
				
				#submit {
					background: #F73946;
					background: -webkit-linear-gradient(left top, #F73946, #FF3875);
					background: -o-linear-gradient(bottom right, #F73946, #FF3875);
					background: -moz-linear-gradient(bottom right, #F73946, #FF3875);
					background: linear-gradient(to bottom right, #F73946, #FF3875);
					border: none;
					border-radius: 30px;
					padding: 4px 25px;
					color: #2B2D41;
					font-size: 1.5em;
					font-weight: 100;
					transition: all 0.3s ease-in;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					cursor: pointer;
					
					&:hover, &:focus {
						color: #FFF;
						outline: none;
					}
				}
			}
			
			
		}
		
	}
}
