@mixin align-center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
}

@mixin align-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
}

/** Color Variables **/
$primary_color: #002e5b;
$secondary_color: #fde428;

/** Time Varaibles **/
$fast_time_duration: 0.5s;
$slow_time_duration: 0.7s;
