@mixin align-center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
}

@mixin align-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
}

@mixin block_background {
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
	border-radius: 6px;
}

/** Color Variables **/
$primary_color: #002e5b;
$secondary_color: #fde428;
$third_color: #E8A876;

/** Time Varaibles **/
$fast_time_duration: 0.5s;
$slow_time_duration: 0.7s;
