@mixin align-center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
}
@mixin align-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
}
