@import "variables.scss";
.bnews-meta-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include align-center;
    p {
        &.options-row {
            width: 100%;
            display: flex;
            @include align-start;

            label {
                display: flex;
                @include align-start;
                flex:1;
                font-weight: 500;
                span {
                    width: 100%;
                    &.label {

                    }
                    &.description {
                        font-size: 12px;
                        font-weight: 400;
                        font-style: italic;
                    }

                }

            }
            input {
                display: flex;
                @include align-center;
            }
        }
    }
}